<div class="row">

  <div class="large-12 columns">

      <h1><%= @user.name %></h1>


      <dl class="tabs" data-tab>
        <dd><a class="active" href="#donations">Donations</a></dd>
        <dd><a href="#subscriptions">Subscriptions</a></dd>
      </dl>

      <div class="tabs-content">
        <div class="content active" id="donations">
          <h4>My Donations</h4>
        </div>

        <div class="content" id="subscriptions">
          <h4>My Subscriptions</h4>
        </div>

      </div>

  </div>


</div>
