<h1>Welcome</h1>
<ul>
  <li> <%= link_to 'Add New Charity', new_charity_path %> </li>
</ul>

<h3>Charity Listing</h3>

<ul>
  <% @charities.each do |charity| %>
    <li><%= link_to charity.name, charity_path(charity) %></li>
  <% end %>
</ul>

